/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

/*background image with backup colour in case image doesn't load properly */
body {
  background-image: url("../../assets/images/pokemon-wallpaper.jpg");
  background-color: #0000ff;
  background-size: cover;
  font-family: "Jersey 10", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/*main container css from https://projects.sparkifysolutions.com/quiz-app-using-javascript/ was used as inspiration */
.app {
  background: #fff;
  width: 100%;
  max-width: 1000px;
  max-height: 500px;
  border: 8px ridge black;
  padding: 10%;
  background-color: lightblue;
  border-radius: 25px;
}
/*Header*/
.app h1 {
  background-image: url("../../assets/images/pikachu-header.png");
  background-color: #fff;
  background-position: center;
  background-size: cover;
  margin-top: -100px;
  font-size: 340%;
  font-family: "Jersey 10", sans-serif;
  color: black;
  font-weight: 600;
  border: 4px ridge black;
  padding: 60px;
  text-align: center;
  border-radius: 25px;
}

.quiz {
  padding: 20px 0;
}

/*The question styling*/
.logo {
  background-color: white;
  text-align: center;
  border: 4px ridge black;
  border-radius: 25px;
}
/*answers*/
.quiz h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 35px;
  color: black;
  font-weight: 600;
}

/*border around the question and answers*/
#answer-buttons {
  border: 4px ridge black;
  background-color: grey;
  border-radius: 25px;
}
/*button for the answers*/
.btn {
  background: #fff;
  color: black;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 500;
  width: 100%;
  border: 4px ridge black;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 25px;
  cursor: pointer;
}
/*added hover to the buttons*/
.btn:hover:not([disabled]) {
  background: #b8860b;
  color: #fff;
}

.btn:disabled {
  cursor: no-drop;
}

/*Media Quieries for laptops*/
@media only screen and (max-width: 1440px) {
  /*Max height for .app*/
  .app {
    max-height: 500px;
  }

  /*Header*/
  .app h1 {
    padding: 10px;
    margin-top: -20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 50px;
  }

  #answer-buttons {
    margin-top: -20px;
  }
}

/*Media Quieries for mobile*/
@media only screen and (max-width: 480px) {
  /*body*/
  body {
    height: 100vh;
  }

  .app {
    max-height: none;
  }

  /*Header*/
  .app h1 {
    padding: 10px;
    margin-top: -20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 50px;
    text-align: center;
  }

  /*The question and answers*/
  #answer-buttons {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
