/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');



/* Overide default styles added by the browser*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Jersey 10', sans-serif;
    box-sizing: border-box;

}
/*background image with backup colour in case image doesn't load properly */
body{
    background-image:url("../assets/images/pokemon-wallpaper.jpg");
    background-color: blue;
    background-size: cover;
    font-family:'IBM Plex Sans JP', sans-serif;
}
/*main container*/
.app{
    background: white;
    width: 90%; 
    max-width: 900px;
    margin: 300px auto 0;
    border-radius: 10px;
    padding: 30px;
}
/*Question title*/
.app h1{
    font-size: 70px;
    font-family: 'Jersey 10', sans-serif;
    color: blue;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz{
    padding: 20px 0;
}
/*answers*/
.quiz h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    color: #001e4d;
    font-weight: 600;
}
/*button for the answers*/
.btn{
    background: #fff;
    color: #222;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}
/*added hover to the buttons*/
.btn:hover{
    background: darkgoldenrod;
    color: #fff;
}
/* The hidden next button*/
#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}